.section{
    background-color: whitesmoke;
    grid-area: s;

}
.section img{
    width: 900px;
    height: 400px;
}
.myPost img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.myPost .icon{
    width: 30px;
    height: 30px;
}
.heading{
    font-size: 28px;

}
.textarea{
    margin-top: 30px;
    width: 900px;
    height: 50px;
    background-color: silver;
    border: none;
}
.button{
    border: none;
    background-color: teal;
   width: 80px;
    height: 25px;

}
.item{
    color: bisque;
}